.boxConfirmed{
  font-size: 1.5rem  ;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgb(233, 52, 45);
}

.boxDeaths{
  font-size: 1.5rem  ;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgb(228, 226, 220);
}

.boxRecovered{
  font-size: 1.5rem;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgb(76, 255, 52);
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.border{
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}

